* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.7em;
}

/* Utility classes */
.container {
  margin: auto;
  max-width: 900px;
  overflow: auto;
  padding: 0 20px;
}

.bg-dark {
  background-color: #111;
  color: papayawhip;
}

.bg-primary {
  background-color: #111;
  color: rgb(129, 248, 18);
}

.bg-light {
  background-color: lightsalmon;
  color: #111;
}

.text-primary {
  color: rgb(129, 248, 18);
}

.lead {
  font-size: 20px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

.py-1 {
  padding: 10px;
}
.py-2 {
  padding: 20px;
}
.py-3 {
  padding: 30px;
}

p {
  margin: 10px 0;
}

.l-heading {
  font-size: 40px;
}

.clr {
  clear: both;
}

/* Navbar */

#navbar {
  background-color: #347;
  color: white;
  overflow: auto;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  float: right;
  list-style: none;
}

#navbar ul li {
  float: left;
}

#navbar a {
  color: #fff;
}

#navbar ul li a {
  display: block;
  text-align: center;
  padding: 20px;
}

#navbar ul li a:hover,
.current {
  background-color: #547;
  color: #000;
}

/* Showcase content */

.showcase {
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  height: 600px;
}

.showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 150px;
  line-height: 1.8em;
}

.showcase-content h1 {
  font-size: 50px;
  line-height: 1.4em;
}

.btn {
  display: inline-block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(1, 27, 34);
  background-color: rgba(0, 0, 0, 0.315);
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
  border: #111 1px solid;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-light {
  background-color: lightgray;
  color: #111;
}

.btn:hover {
  background-color: rgb(210, 137, 255);
  color: rgb(0, 0, 0);
}

/* Section */

#home-info {
  height: 400px;
}
#home-info .info-img {
  float: left;
  width: 50%;
  background: url("../img/jw-marriot.jpg") no-repeat;
  min-height: 100%;
}

#home-info .info-content {
  width: 50%;
  float: right;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

/* Features */
.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}

.box i {
  margin-bottom: 10px;
}

/* About Page Section */

#about-info .info-left {
  font-size: 18px;
  line-height: 1.5em;
  float: left;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

.info-right img {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 50%;
}

/* Testimonial */

#testimonials {
  height: 600px;
  background: url("../img/test-bg.jpg") no-repeat center center/cover;
  padding-top: 40px;
}

#testimonials #testimonial {
  border-radius: 10px;
  opacity: 0.9;
  margin-bottom: 40px;
}

#testimonials #testimonial img {
  width: 100px;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
  padding: 10px;
}

#testimonials h2 {
  padding-top: 20px;
  color: #fff;
}

#testimonial p {
  text-align: center;
  padding: 10px;
}

/* Contact Form */

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
  width: 50%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.form-group textarea {
  height: 200px;
}

/* Footer */

#main-footer {
  text-align: center;
  background-color: #333;
  color: white;
  font-size: 18px;
  padding: 20px;
}
